name: Frontend CI - Build & Push to Harbor

on: workflow_dispatch
  # push:
  #   branches:
  #     - main
  #     - develop

jobs:
  build-and-push:
    # runs-on: self-hosted   # tumhara Mac runner
    runs-on: ubuntu-latest


    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        run: docker --version

      - name: Login to Harbor
        run: |
          echo "${{ secrets.HARBOR_PASSWORD }}" | docker login \
            ${{ secrets.HARBOR_URL }} \
            -u ${{ secrets.HARBOR_USERNAME }} \
            --password-stdin
      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.HARBOR_URL }}/library/frontend-ui:latest .
      - name: Push image to Harbor
        run: |
          docker push ${{ secrets.HARBOR_URL }}/library/frontend-ui:latest
